@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <form class="border border-black d-flex justify-content-center flex-column align-items-center " style="margin-left:300px; margin-right: 300px;" asp-action="Validar" asp-controller="Home">

        <h1 class="display-4">Bem Vindo</h1>
        <input type="text" class="mb-3 text-center form-control w-50" name="login" placeholder="Login">
        <input type="password" class="mb-3 text-center form-control w-50" name="senha" placeholder="Senha">
       
        @if (ViewBag.Erro != null)
        {
            <div class="alert alert-danger">
            @ViewBag.Erro
            </div>
        }
        
        <button type="submit" class="mb-3 btn btn-primary w-50">Entrar</button>        
    </form>
    <a role="button" asp-action="CadastroUsuario" asp-controller="Home" class=" mt-3 mb-3 btn btn-secondary">Cadastro</a>      
</div>
