@{
    ViewData["Title"] = "Login";
}

<div class="text-center d-flex flex-column jusfy-content-center align-items-center">
    <h1 class="display-4">Bem-Vindo !</h1>
    <div class="w-10 mt-5">
        <div>
            <label class="form-label" for="loginProf">Login</label>
            <input type="text" class="form-control" id="loginProf">
        </div>
        <div class="mt-1">
            <label for="senhaProf" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senhaProf">
        </div>
        <button type="submit" class="btn btn-success mt-5">Acessar</button>
    </div>
</div>
