@model DTOModel
@{
    ViewData["Title"] = "Cadastro Turma";
}
<div class="d-flex justify-content-between">
    <div class="d-flex">
        <p>Usuário Autenticado:
        <p class="ms-2">@Model.Usuario.Nome</p>
        </p>
    </div>
    <div class="d-flex justify-content-between">
        <a role="button" class="btn btn-primary me-5" asp-action="Index" asp-controller="Perfil">Home</a>
        <a role="button" class="btn btn-secondary" asp-action="Index" asp-controller="Home">Sair</a>
    </div>
</div>

<div class="mb-3">
    <form method="post" asp-action="ValidarAtividade" asp-controller="Turma" asp-route-idEmenda="@Model.Ementa.Id">
        <h1>Criar uma nova Atividade para @Model.Disciplina.Disciplina</h1>
        <label for="nomeAtividade" class="form-label">Atividade:</label>
        <input type="text" class="form-control" id="nomeAtividade" name="nomeAtividade">
        <div class="d-flex justify-content-end mt-3">

            <button type="submit" class="btn btn-success mx-2" name="criarAtividade" value="SIM">Cadastrar</button>
            <button type="submit" class="btn btn-danger mx-2" name="criarAtividade" value="NAO">Cancelar</button>
        </div>
    </form>
</div>
